::ng-deep .result-chart .apexcharts-text {
    fill: #ffffff !important;
}

.ReviewProgressNoDataFound {
    margin-block: 107px;
}

.dr-width {
    max-width: 272px;
}

.col-7 {
    margin-left: 90px;
}

.assessment-label {
    white-space: pre-wrap;
}