<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                1. General
            </div>
            <div class="card-body">
                <Ul>
                    <li>This website with the URL of <a
                            href="https://assessments.yaksha.com">www.assessments.yaksha.com</a>
                        (“website/site”) is operated by IIHT Limited, We
                        are committed to protecting and respecting your privacy. We do collect your Personal
                        information and process your personal data in accordance with the IT Act, 2000 (21 of 2000)
                        and other national/international /state laws which relate the processing of the personal
                        data. Please read the following carefully to understand our views and practices regarding
                        your personal data.
                    </li>
                    <li>We collect your personal information to provide and continually improve our products and
                        services.
                    </li>
                    <li>
                        Our privacy policy is subject to change at any time without any notice. To make sure you are
                        aware of any changes, please review this policy periodically.
                    </li>
                    <li>
                        All the partner firms and any third party working with of for US, and who have access to
                        personal information held by Us without having first entered into a confidentiality
                        agreement.

                        This privacy policy ("policy") will help you understand how [name] ("us", "we", "our") uses
                        and protects the data you provide to us when you visit and use [website] ("website",
                        "service").

                        We reserve the right to change this policy at any given time, of which you will be promptly
                        updated. If you want to make sure that you are up to date with the latest changes, we advise
                        you to frequently visit this page.
                    </li>
                </Ul>
            </div>

            <div class="card-header">
                2. How We collect the information
            </div>
            <div class="card-body">
                <p> When you visit the website, we may collect the following data:</p>
                <ul>
                    <li>The data we collect depends on the context of your interaction with our Website.</li>
                    <li>Through business interaction: we may collect information through business interaction with
                        you or your employees.
                    </li>
                    <li>
                        From other sources, we may receive information from other sources such as Your IP address,
                        as public Databases, Joint marketing partners, social media platforms or other third parties
                        such as
                        <ul class="ml-0 secondary-text">
                            <li>Updated delivery and address information from our carriers or other third parties,
                                which we use to correct our records and deliver your next purchase/
                                services/communication more easily.</li>
                            <li>Information about your interactions with the products & services offered by US or
                                our subsidiaries.</li>
                        </ul>
                    </li>
                    <li>Your contact information and email address.</li>
                    <li>Other information such as interests and preferences.</li>
                    <li>Data profile regarding your online behavior on our website.</li>
                </ul>
            </div>

            <div class="card-header">
                3. Information We Collect
            </div>
            <div class="card-body">
                <p> We are collecting your data for several reasons:</p>
                <ul>
                    <li>We collect information primarily to provide better services to all our customers.
                    </li>
                    <li>When you visit our site, some information is automictically collected. This may include
                        information such as the operating systems (OS) running on your device, internet protocol
                        (IP) address, access times,

                        browser type, and language and the website you visited before our site. We also collect
                        information about how you use our products or services.
                    </li>
                    <li>To improve our services and products.</li>
                    <li>To send you promotional emails containing the information we think you will find
                        interesting.</li>
                    <li>To contact you to fill out surveys and participate in other types of market research</li>
                    <li>To customize our website according to your online behavior and personal preferences.</li>
                    <li>The full Uniform Resources (URL) clickstream to, through and from our website (including
                        date 7 time) Cooke number, products and / content you viewed or page response times,
                        downloads errors, length of visits to certain pages, page interaction information (such as
                        scrolling, clicks, Mouse – overs).</li>
                    <li>We automatically collect information using “cookies”. Cookies are small data files stored on
                        your hard drive the websites. Among other things, cookies help us improve our site, our
                        marketing activities and your experience. We use cookies to see which areas and features are
                        popular and to count visits to out site.</li>
                    <li>Most Web browsers are set to accept cookies by default. If you prefer, you can choose to set
                        your browser to remove cookies and to reject cookies. If you set your browser to reject
                        cookies, some feature will be unavailable. For more information on how to reject cookies,
                        wee your browsers instructions on changing your cookies settings.</li>
                    <li>By Using this website, you are agreeing that we may adversities your feedback on the Website
                        and marketing materials.</li>
                    <li>We will retain your personal information as long as we require this to provide you that
                        goods and services and for such period as mandated by the concerned laws.</li>
                    <li>If you opt to receive marketing correspondence from us, subscribe to our mailing list or
                        newsletters, enter into any of our competitions or provide us with your details at
                        networking events, we may use your personal data for our legitimate interests or purpose in
                        order to provide you with details about our goods, services, businesses updates, training
                        and events.</li>
                </ul>
            </div>

            <div class="card-header">
                4. How do we Use information?
            </div>
            <div class="card-body">
                <p> We use the information to collect primarily need to provide maintain
                    protect and improve our current product and services. We use the information collected through
                    this website as subscribed in this policy and we may use your information to</p>
                <ul>
                    <li>Improve our services site and we operate our businesses.</li>
                    <li>Understand and enhance our experiences using our site product and services</li>
                    <li>Manage and develop personnel and employment matters and </li>
                    <li>Personalize our product and services and mark recommendations.</li>
                    <li>Provide and deliver product and services to your request.</li>
                    <li>Process, manage, complete an account for transactions.</li>
                    <li>Provide customer support and response to your request comments and enquiries.</li>
                    <li>Create and manage online account to manage our websites.</li>
                    <li>Send you related information including confirmation, invoices, technical notices, update
                        security alerts and support and administrative messages.</li>
                    <li>Communicate with you about the promotion upcoming events and the news about the product and
                        services.</li>
                    <li>We may process your personal information without your knowledge or consent were required by
                        applicable laws or regulations for the purpose of verification of the identity and for
                        prevention detection for investigation including of Cyber incident prosecution and
                        punishment of the offences.</li>
                    <li>Protect investigate and data against for fraudulent unauthorised or illegal activities.</li>
                </ul>
            </div>

            <div class="card-header">
                5. Data Transfer
            </div>
            <div class="card-body">
                <ul>
                    <li>Information about our users is an important part of our business and we take you care to
                        protect the same.</li>
                    <li>We share your data with your consent to complete and transaction or provide any product or
                        service
                        you have requested or authorised we also share the data with our affiliations and
                        subsidiaries with
                        vendors working on behalf of us.</li>
                    <li>We may employ other companies and individuals to perform functions on our behalf the
                        functions
                        include feeling the data orders the product is a services delivering packet sending postal
                        males
                        females removing a repetitive information from the customer are left providing marketing
                        assistance
                        providing such results and things including paid list and links processing payment
                        transmitting
                        content scoring credit card credit risk and providing Customer services.</li>
                    <li>These third-party services provide providers have access to personal information needed to
                        perform
                        their functions but may not use it for other purposes for the this they must process the
                        personal
                        information in accordance with the personal privacy policy and as permitted by the
                        applicable data
                        protection laws.</li>
                    <li>We release the account and other personal information when we believe a is appropriate to
                        compile
                        with the law enforce or apply our conditions of use and other agreements the protection of
                        the
                        rights property or safety of us or our users or others this includes exchange of information
                        with
                        the companies and Organisation for fraud protection and credit risk reduction.</li>
                </ul>
            </div>

            <div class="card-header">
                6. Cookies
            </div>
            <div class="card-body">
                <ul>
                    <li>To Optimise our web presence, we use cookies are small text files stored on your computer's
                        main memories these cookies are deleted after you close the browser other cookies remain on
                        your computer long-term cookies and permit in recognition on your text visit this allows us
                        to improve your access to our website this helps us to learn more about your interest and
                        provide you with the essential features and services and for additional purposes including.

                        <ul class="ml-0 secondary-text">
                            <li>Keeping the track of data stored in the DB</li>
                            <li>Training facility</li>
                            <li>Conducting the research and agonizing to improve the contain the product and
                                services preventing activities improving security</li>
                        </ul>
                    </li>

                    <li>Our cookies allow you to take advantage of some of the essential feature. For instance, if
                        you block or otherwise reject are cookies you will not be able to add items to your
                        requirements or the out checkouts or use any product or services that enquiry you in the
                        Sign in</li>
                    <li>Approved third party is also main set cookies when we interact with our product & services.
                    </li>
                    <li>third party include Search engine provides for measurement and analytical services social
                        media Network and Advertising companies</li>
                    <li>Third parties use cookies in the processing of delivering content including ads relevant of
                        your interest to measure the effectiveness of their than their performances on behalf of US
                    </li>
                    <li>You can prevent the storage of cookies by choosing a “disable cookies” option in your
                        browser setting, but this can limit the functionality of a services</li>
                </ul>
            </div>

            <div class="card-header">
                7. Data Security
            </div>
            <div class="card-body">
                <ul>
                    <li>We take due care to protect customer data technical measurements are in place to prevent
                        unauthorised or unlawful access to the data and against accidental loss or destruction of,
                        or damage to the data. The employees who are dealing with the data have been trained to
                        protect the data from any illegal or unauthorised usage</li>
                    <li>We want to protect the security of your information during the transmission by using the
                        Secure Sockets Locker (SSL) software, which encrypts the information you input. SSL allows a
                        sensitive information such as credit card number UID’s & login credentials to be transmitted
                        to security.</li>
                    <li>We follow the data Protection Act ensuring or your personal data safe and secure</li>
                    <li>We maintain physical electronic and procedural safeguards in connection with the collection
                        storage and disclosure of the personal customer information.</li>
                    <li>We take reasonable steps to help protect your personal information in an effort to prevent
                        the loss misuse and unauthorised access disclosure alternatives and distractions it is your
                        responsibility to protect your username and password to help prevent anyone from accessing
                        or using your account or services you should not use or use the same password you use with
                        other accounts as your password for the same services.</li>
                    <li>It is important for you to protect against unauthorised access to your password and your
                        computers devices and applications b be sure to sign off when you finish using a shared
                        computer.</li>
                    <li>Information you provide to us is shared on the secure servers we have implemented
                        appropriate physical technical and organisational measures are designed to protect and
                        secure your information against the accidental loss and unauthorised access use alternatives
                        and disclosures in addition we limit access to the personal data to those employees agents
                        contracts and users that have legitimate business need for such exercises.</li>
                    <li>Information collected from you will be stored for such a period as required to complete the
                        transaction in third into you are such a period as mandated under the applicable laws</li>
                </ul>
            </div>

            <div class="card-header">
                8. Links to third party sites are apps
            </div>
            <div class="card-body">
                <p> Our site may from time to time contain links to and dad from other
                    websites of third party please know that if you are following a link to any of this website such
                    websites will apply different terms of collection on privacy of your personal data and we do not
                    accept any responsibility or liability for these policies. when you leave our site, we encourage
                    you to read the privacy policy of every website you visit</p>
            </div>

            <div class="card-header">
                9. Social Network Plugins
            </div>
            <div class="card-body">
                <p>This website incorporates plugins and or buttons for social networks
                    in order to allow easy sharing of your favourite social network these plugins are programmed so
                    as not to set any cookies when assessing the page to safeguard the privacy of the user's cookies
                    may be set if you make a volunteer use of the plug-in the collection of the use of the
                    information obtained by means of the plugins are governed by the respective privacy policies of
                    the social networks</p>
            </div>

            <div class="card-header">
                10. Sharing of Personal Information
            </div>
            <div class="card-body">
                <p>
                    We do not share your personal data with third parties without your prior consent other than
                </p>
                <ul>
                    <li>With third party who work on our behalf providing such third parties adherence to the data
                        protection principles set out in the IT Act 2000 (21 of 2000) and other applicable
                        legislation or enter into a written agreement with us inquiring that the third party
                        provides at least the same level of privacy protection as is required by such principles
                    </li>
                    <li>To comply with the loss or to respond to the lawfulness request and legal purposes</li>
                    <li>To protect the rights and the properties of us our agents’ customers and other including to
                        enforce our agreements policies and terms of use</li>
                    <li>In an emergency including the protection the personal safety of an individual person and,
                    </li>
                    <li>For the purpose of a business deal for negotiation of the business Steel involving the sales
                        of transfer of all or a part of the business of the Asset business dealing may include for
                        example any financial acquisitions by or bankruptcy transaction are proceedings</li>
                </ul>
            </div>

            <div class="card-header">
                11. Children
            </div>
            <div class="card-body">
                <p>
                    If you are under 18 at the age of majority in the jurisdiction in which you decide you may
                    only use our website with the consent of your parents or legal Guardian in case, we will not be
                    liable of any causes of action that arose due to the non-compliance with this section
                </p>
            </div>

            <div class="card-header">
                12. Your Information Choice and Changes
            </div>
            <div class="card-body">
                <ul>
                    <li>You can also make choices about the collection and the processing of your data by use you
                        can access your personal data and opt out of certain services provided by us in some cases
                        your ability to control and access to your data date will be subject to the applicable
                        laws,</li>
                    <li>You may opt out of the receiving promotional emails from US by following the instruction in
                        those emails if you opt out, we may still send you on promotional email such as mail about
                        our ongoing business relationship you may also need a send request about you got preference
                        change or delete a deletion of your information including the request to opt-out of sharing
                        your personal information with third parties by sending an email to the mail ID provided at
                        the bottom of this document</li>
                </ul>
            </div>

            <div class="card-header">
                13. Change to this policy
            </div>
            <div class="card-body">
                <p>Change this policy from time to time if we make any changes to this policy we will change the
                    last updated date above you agree that you continued use of services after such changes have
                    been published to our services will constituent your acceptance of such revised policies</p>
            </div>

            <div class="card-header">
                14. Newsletters
            </div>
            <div class="card-body">
                <p>Following subscription to the newsletters your email ids is used for our advertisement purpose
                    until you cancel the newsletters again the cancellation is possible at any time the following
                    consent has been expressly granted by you separately or possibly in the course of an ordering
                    process I am accepting to receive the newsletter from the website you may revoke your consent or
                    any time with future effect if you are no longer want to receive the newsletter the unsubscribe
                    by clicking on the subscription option given in the email footer</p>
            </div>
        </div>
    </div>