.body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: aliceblue;
}

.sub-title {
    font-weight: 700;
    margin-top: 10px;
}

.border {
    padding: 5px 15px;
    margin: 10px 15px;
    border: 10px solid black;
}

.margin {
    padding: 10px;
    margin: 5px;
}

.line-break-anywhere {
    line-break: anywhere;
}


$borderWidth: 5px;
$animationTime: .5s;
$border-color-default: #efefef;
$border-color-fill: #ffb43e;
$size: 160px;
$howManySteps: 100; //this needs to be even.

.progress1 {
    width: $size;
    height: $size;
    line-height: $size;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: $borderWidth solid $border-color-default;
        position: absolute;
        top: 0;
        left: 0;
    }

    >span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .progress-left1 {
        left: 0;
    }

    .progress-bar1 {
        width: 100%;
        height: 100%;
        background: none;
        border-width: $borderWidth;
        border-style: solid;
        position: absolute;
        top: 0;
        border-color: $border-color-fill;
    }

    .progress-left1 .progress-bar1 {
        left: 100%;
        border-top-right-radius: ($size/2);
        ;
        border-bottom-right-radius: ($size/2);
        ;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    .progress-right1 {
        right: 0;

        .progress-bar1 {
            left: -100%;
            border-top-left-radius: ($size/2);
            ;
            border-bottom-left-radius: ($size/2);
            ;
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
        }
    }

    .progress-value1 {
        display: flex;
        border-radius: 50%;
        font-size: 1rem;
        text-align: center;
        line-height: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-weight: 300;

        span {
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

.top-space {
    margin-top: 25px;
}

.issue-severity,
.maintainability-rating,
.security-rating,
.reliability-rating,
.duplicated-blocks,
.duplicated-files,
.duplicated-lines,
.comment-lines {
    margin-top: 30px;
    padding: 0 10px;
}

.issue-types {
    padding: 0 10px;
}

.sub-title-1 {
    font-style: italic;
    font-weight: 600;
}

.w-20 {
    width: 20%;
}

/* This for loop creates the necessary css animation names
Due to the split circle of progress-left and progress right, we must use the animations on each side.
*/
@for $i from 1 through $howManySteps {
    $stepName: ($i*(100 / $howManySteps));

    //animation only the left side if below 50%
    @if $i <=($howManySteps/2) {
        .progress1[data-percentage="#{$stepName}"] {
            .progress-right1 .progress-bar1 {
                animation: loading-#{$i} $animationTime linear forwards;
            }

            .progress-left1 .progress-bar1 {
                animation: 0;
            }
        }
    }

    //animation only the right side if above 50%
    @if $i>($howManySteps/2) {
        .progress1[data-percentage="#{$stepName}"] {
            .progress-right1 .progress-bar1 {
                animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
            }

            .progress-left1 .progress-bar1 {
                animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
            }
        }
    }
}

//animation
@for $i from 1 through ($howManySteps/2) {
    $degrees: (180/($howManySteps/2));
    $degrees: ($degrees*$i);

    @keyframes loading-#{$i} {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate($degrees);
            transform: rotate(#{$degrees}deg);
        }
    }
}

.card {
    .card-body {
        h3 {
            display: block;
            line-height: 16px;
        }
    }
}

.questions-section .card {
    width: 33%;
}

.scores {
    height: 120px;
    position: relative;

    .score-data {
        height: 120px;
    }

    .sections,
    .user-score {
        height: 10px;
        position: relative;

        .section-name,
        .section-score {
            position: absolute;
            z-index: 1;
            font-size: 0.9em;
        }

        .section-name {
            top: -22px;
            left: 3px;
            cursor: pointer;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .section-score {
            bottom: -22px;
            left: 3px;
            min-width: 50px;
        }
    }

    .sections {
        background-color: #009EFB;
    }

    .user-score {
        background-color: #57CD64;
    }
}

.score-bar {
    position: inherit;
    height: 50px;
    font-size: 12px;
    width: 90% !important;

    &::before {
        position: absolute;
        top: 0;
        left: -11px;
        z-index: 1;
    }

    &::after {
        content: '100%';
        position: absolute;
        top: 0;
        right: -40px;
        z-index: 1;
    }

    .skill-name {
        position: absolute;
        top: 0;
    }

    .total {
        height: 8px;
        background-color: #e7e4e4;
        position: relative;

        .cut-off {
            height: 8px;
            background-color: #57CD64;
            position: relative;

            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 100%;
                height: 50px;
                padding-right: 6px;
                padding-top: 33px;
            }
        }
    }
}

.mb-0 {
    margin-bottom: 0px;
}

.font-weight-bold {
    font-weight: 600;
}

.font-size-12 {
    font-size: 12px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-left {
    border-left: 1px solid;
}

.border-right {
    border-right: 1px solid;
}

.margin-div {
    margin: 30px 0px !important;
}

.p-0 {
    padding: 0px;
}

.background-white {
    background: white;
}

.padding-div {
    padding: 20px 25px !important;
}

.mat-expansion-panel-body {
    padding: 0 0px 0px !important;
}

.m-p-20 {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.notapplicable {
    color: #ffb43e;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.fb-profile {
    width: 30px;
    border-radius: 50px;
    border: 1px solid;
    padding: 5px 10px;
    border: 1px solid #3b5998 !important;
    color: #3b5998 !important;
}

.fb-profile:hover {
    width: 30px;
    border-radius: 50px;
    border: 1px solid;
    padding: 5px 10px;
    background: #3b5998;
    color: #fff !important;
}

.twitter-profile {
    width: 30px;
    border-radius: 50px;
    border: 1px solid;
    padding: 5px 7px;
    border: 1px solid #1DA1F2 !important;
    color: #1DA1F2 !important;
}

.twitter-profile:hover {
    width: 30px;
    border-radius: 50px;
    border: 1px solid;
    padding: 5px 7px;
    background: #1DA1F2;
    color: #fff !important;
}

.linkedin-profile {
    width: 30px;
    border-radius: 50px;
    border: 1px solid;
    padding: 5px 8px;
    border: 1px solid #0e76a8 !important;
    color: #0e76a8 !important;
}

.hour-icon {
    position: relative;
    top: 8px
}

.linkedin-profile:hover {
    width: 30px;
    border-radius: 50px;
    border: 1px solid;
    padding: 5px 8px;
    background: #0e76a8;
    color: #fff !important;
}

.question-skipped {
    color: #ffa400;
}

.question-marked {
    color: #ff2900;
}

.m-b-40 {
    margin-bottom: 40px;
}

.custom-image {
    width: 120px;
    vertical-align: middle;
    padding: 10px 10px;
    border-radius: 50%;
    background: #ededed;
    margin-left: 20px;
}

.margin-top {
    margin-top: 5px;
}

.header-section-title {
    width: 115px;
    display: inline-block;
}

/*.width-grid {
    max-width: 33.3% !important;
    min-width: 33.3% !important;
}

.width-grid-4 {
    max-width:25% !important;
    min-width: 25% !important;
}*/

.tag-size {
    font-size: 30px;
    vertical-align: middle;
    margin-left: 20px;
    color: #009efb;
}

.tag-black {
    font-size: 30px;
    vertical-align: middle;
    margin-left: 10px;
    color: #000;
}

.font-size-12 {
    font-size: 12px;
}

.mar-table {
    margin: 10px 0px;
}

#chart {
    max-width: 650px !important;
    margin: 35px auto !important;
}

.logo {
    width: 100px;
    float: right;
    bottom: 0;
    margin-top: 30px;
}

.logo-name {
    right: 10px;
    float: right;
    position: absolute;
    top: 80px;
}

.overallStatus {
    background: #e3e3e3;
    padding: 15px 30px 5px;
    vertical-align: middle;
    border-top: 1px solid #000;
    text-align: center;
    font-weight: bold;
}

.text-bold-center {
    text-align: center;
    font-weight: bold;
}

.display-flex {
    display: flex;
}

.test-case-status {
    text-align: center;
    padding: 20px 0 0;
    font-size: 16px;
}

.test-case-summary {
    background: #e3e3e3;
    padding: 15px 30px 5px;
    vertical-align: middle;
    border-top: 1px solid #000;
}

.issues-with-code,
.user-test-case {
    padding: 15px 30px 5px;
    vertical-align: middle;
    margin-top: 50px;
    border-top: 1px solid #000;
}

.glossary {
    background: #26c6da;
    padding: 15px 30px 5px;
    vertical-align: middle;
    margin-top: 50px;
    border-top: 1px solid #fff;
    color: #fff;
}

.glossary-section {
    .table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #4fc3f724;
    }
}

.test-case-chart {
    height: 517px;
}

.no-data {
    position: relative;
    top: 47%;
}

.avoid-page-break {
    page-break-inside: avoid;
}
