<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background:url(assets/images/background/login-register.jpg) no-repeat; background-size: cover;">
    <div class="auth-box m-3 m-md-0">
        <div id="recoverform" [ngClass]="{'d-block': recoverform}">
            <div class="logo">
                <!-- <span class="db"><img src="assets/images/yaksha-logo.png" alt="logo" /></span> -->
                <h5 class="font-medium m-b-20 pd-1 text-uppercase">{{constants.recoverYourPassword}}</h5>
                <span>{{constants.enterYourEmailAndInstructionsWillBeSentToYou}}!</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12" name="forgotPasswordForm" novalidate autocomplete="off" #recoverform="ngForm"
                    (ngSubmit)="forgotPassword()">
                    <!-- email -->
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="ti-email"></i></span>
                            </div>
                            <input class="form-control form-control-lg" [(ngModel)]="forgotPasswordDto.userName"
                                name="userNameOrEmailAddress" type="email" required placeholder="Email">
                        </div>
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-danger text-uppercase" type="submit"
                                name="action">{{constants.sendResetLink}}</button>
                        </div>
                    </div>
                    <div class="pd-1">
                        <span class="text">{{constants.or}}</span>
                    </div>
                    <div>
                        <div style="text-align: center;">
                            <a class="link cursor-pointer" (click)="goBackToLogin()">{{constants.goToLogin}}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>