<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background:url(assets/images/background/login-register.jpg) no-repeat; background-size: cover;">
    <div class="auth-box m-3 m-md-0">
        <div id="resetform" [ngClass]="{'d-block': resetform}">
            <h5 class="font-medium m-b-20 pd-1">{{constants.resetYourAccountPassword}}</h5>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12" [formGroup]="resetPasswordForm" novalidate autocomplete="off" #resetform="ngForm"
                    (ngSubmit)="reset()">
                    <!-- email -->
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div>
                            <input class="form-control form-control-lg" [(ngModel)]="resetPasswordDto.newPassword"
                                formControlName="password" [type]="showPassword ? 'text' : 'password'"
                                [placeholder]="constants.password">
                            <div class="cursor-pointer input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="fa" [ngClass]="{
                                      'fa-eye-slash': !showPassword,
                                      'fa-eye': showPassword
                                    }" (click)="changePasswordVisibility();"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-20" style="text-align: center;">
                        <div class="col-12">
                            <small class="form-text text-danger error-text"
                                *ngIf="resetPasswordForm.controls['password'].touched && resetPasswordForm.get('password').errors?.required">
                                {{constants.pleaseEnterValidPassword}}
                            </small>
                            <small class="form-text text-danger error-text"
                                *ngIf="resetPasswordForm.get('password').errors?.pattern">
                                {{constants.passwordMustBeAtLeast8CharactersMaximum16CharactersContainALowerCaseUppercaseAndNumber}}
                            </small>
                        </div>
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-danger" type="submit" name="action"
                                [disabled]="resetPasswordForm.invalid">{{constants.reset}}</button>
                        </div>
                    </div>
                    <div class="pd-1">
                        <span class="text">{{constants.or}}</span>
                    </div>
                    <div>
                        <div style="text-align: center;">
                            <a class="link cursor-pointer" (click)="goBackToLogin()">{{constants.goToLogin}}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>