.input-field {
    width: 25%;
}

.text-wrap-25 {
    overflow-wrap: anywhere;
    width: 25%;
}

.text-wrap-15 {
    overflow-wrap: anywhere;
    width: 15%;
}

.text-wrap-10 {
    overflow-wrap: anywhere;
    width: 10%;
}

.text-wrap-5 {
    overflow-wrap: anywhere;
    width: 5%;
}

.text-wrap-20 {
    overflow-wrap: anywhere;
    width: 20%;
}