<div class="row">
    <div class="col-12">
        <h3>{{constants.customization}}</h3>
    </div>
</div>
<form>
    <div class="card m-b-20">
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <div class="d-flex">
                        <a href="javascript:void(0)" (click)="openImageUploadDialog()">
                           {{constants.clickHereToUpdateTenantLogo}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>