<section id="intermediate-page">
    <div class="vertical-horizontal-center">
        <div
            style="position: absolute; top: -5px; opacity: 0.25; animation: 0.833333s linear 0s infinite normal none running opacity-60-25-0-11;">
            <div
                style="position: absolute; width: 10px; height: 10px; background: rgb(185, 188, 195); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center; transform: rotate(0deg) translate(20px, 0px); border-radius: 5px;">
            </div>
        </div>
        <div
            style="position: absolute; top: -5px; opacity: 0.25; animation: 0.833333s linear 0s infinite normal none running opacity-60-25-1-11;">
            <div
                style="position: absolute; width: 10px; height: 10px; background: rgb(185, 188, 195); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center; transform: rotate(32deg) translate(20px, 0px); border-radius: 5px;">
            </div>
        </div>
        <div
            style="position: absolute; top: -5px; opacity: 0.25; animation: 0.833333s linear 0s infinite normal none running opacity-60-25-2-11;">
            <div
                style="position: absolute; width: 10px; height: 10px; background: rgb(185, 188, 195); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center; transform: rotate(65deg) translate(20px, 0px); border-radius: 5px;">
            </div>
        </div>
        <div
            style="position: absolute; top: -5px; opacity: 0.25; animation: 0.833333s linear 0s infinite normal none running opacity-60-25-3-11;">
            <div
                style="position: absolute; width: 10px; height: 10px; background: rgb(185, 188, 195); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center; transform: rotate(98deg) translate(20px, 0px); border-radius: 5px;">
            </div>
        </div>
        <div
            style="position: absolute; top: -5px; opacity: 0.25; animation: 0.833333s linear 0s infinite normal none running opacity-60-25-4-11;">
            <div
                style="position: absolute; width: 10px; height: 10px; background: rgb(185, 188, 195); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center; transform: rotate(130deg) translate(20px, 0px); border-radius: 5px;">
            </div>
        </div>
        <div
            style="position: absolute; top: -5px; opacity: 0.25; animation: 0.833333s linear 0s infinite normal none running opacity-60-25-5-11;">
            <div
                style="position: absolute; width: 10px; height: 10px; background: rgb(185, 188, 195); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center; transform: rotate(163deg) translate(20px, 0px); border-radius: 5px;">
            </div>
        </div>
        <div
            style="position: absolute; top: -5px; opacity: 0.25; animation: 0.833333s linear 0s infinite normal none running opacity-60-25-6-11;">
            <div
                style="position: absolute; width: 10px; height: 10px; background: rgb(185, 188, 195); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center; transform: rotate(196deg) translate(20px, 0px); border-radius: 5px;">
            </div>
        </div>
        <div
            style="position: absolute; top: -5px; opacity: 0.25; animation: 0.833333s linear 0s infinite normal none running opacity-60-25-7-11;">
            <div
                style="position: absolute; width: 10px; height: 10px; background: rgb(185, 188, 195); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center; transform: rotate(229deg) translate(20px, 0px); border-radius: 5px;">
            </div>
        </div>
        <div
            style="position: absolute; top: -5px; opacity: 0.25; animation: 0.833333s linear 0s infinite normal none running opacity-60-25-8-11;">
            <div
                style="position: absolute; width: 10px; height: 10px; background: rgb(185, 188, 195); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center; transform: rotate(261deg) translate(20px, 0px); border-radius: 5px;">
            </div>
        </div>
        <div
            style="position: absolute; top: -5px; opacity: 0.25; animation: 0.833333s linear 0s infinite normal none running opacity-60-25-9-11;">
            <div
                style="position: absolute; width: 10px; height: 10px; background: rgb(185, 188, 195); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center; transform: rotate(294deg) translate(20px, 0px); border-radius: 5px;">
            </div>
        </div>
        <div
            style="position: absolute; top: -5px; opacity: 0.25; animation: 0.833333s linear 0s infinite normal none running opacity-60-25-10-11;">
            <div
                style="position: absolute; width: 10px; height: 10px; background: rgb(185, 188, 195); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center; transform: rotate(327deg) translate(20px, 0px); border-radius: 5px;">
            </div>
        </div>
    </div>
    
    <div class="logo-bottom">
        <img src="assets/images/iiht-logo.png" width="70px">
    </div>
</section>