pre {
    color: #3E5569;
    font : 16px Muli, sans-serif
}

.line {
    white-space: pre-line;
}

.indentaion {
    white-space: pre-wrap;
}

::ng-deep p .indentaion img {
    width: auto  !important;
}

::ng-deep div .indentaion img {
    width: auto  !important;
}