label.border {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.label-active {
    padding-top: 5px;
}

.result {
    position: absolute;
    left    : 500px;
}

.p-b-48 {
    padding-bottom: 48px;
}