a {
    color: unset;
}

.indentaion {
    white-space: pre-wrap;
}

.line {
    white-space: pre-line;
    word-break: break-word;
}

::ng-deep p .indentaion img {
    width: auto  !important;
}

::ng-deep div .indentaion img {
    width: auto  !important;
}
@media only screen and (max-width:767px){
    .choices-container{
        flex-direction: column;
    }
}
@media only screen and (min-width:767px){
    .choices-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
}